# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editors
.idea/
.vscode/
*.swp
*.swo

# Xcode user data
xcuserdata/
*.xcuserdatad/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.hmap
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/configuration/

# Build outputs
build/
DerivedData/
.build/
generated/
artifacts/
*.ipa
*.dSYM
*.dSYM.zip
*.xcarchive

# Package managers
.swiftpm/
Pods/
Carthage/Build/
Dependencies/
.accio/
